@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply box-border m-0 p-0;
  }
}

@layer components {
  .grid-fade {
    -webkit-mask: linear-gradient(to left, #fff 93%, transparent),
      linear-gradient(to right, #fff 93%, transparent),
      linear-gradient(#000, #000);
    mask: linear-gradient(to left, #fff 93%, transparent),
      linear-gradient(to right, #fff 93%, transparent),
      linear-gradient(#000, #000);
    -webkit-mask-composite: destination-in;
    mask-composite: destination-in;
  }

  .grid-fade-vert {
    -webkit-mask: linear-gradient(to top, #fff 93%, transparent),
      linear-gradient(to bottom, #fff 93%, transparent),
      linear-gradient(#000, #000);
    mask: linear-gradient(to top, #fff 93%, transparent),
      linear-gradient(to bottom, #fff 93%, transparent),
      linear-gradient(#000, #000);
    -webkit-mask-composite: destination-in;
    mask-composite: destination-in;
  }
}

.cl-signIn-start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
