@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Basis Grotesque";
  src: url("/fonts/basis-grotesque-bold-trial.otf");
}

@layer base {
  body {
    @apply box-border;
  }
}

@layer components {
  .grid-fade {
    -webkit-mask: linear-gradient(to left, #fff 93%, transparent),
      linear-gradient(to right, #fff 93%, transparent),
      linear-gradient(#000, #000);
    -webkit-mask-composite: destination-in;
  }

  .grid-fade-vert {
    -webkit-mask: linear-gradient(to top, #fff 93%, transparent),
      linear-gradient(to bottom, #fff 93%, transparent),
      linear-gradient(#000, #000);
    -webkit-mask-composite: destination-in;
  }
}
